<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col>
        <ion-title>
          <div class="version">Ionic-V7</div>
          <strong>Rick & Morty Localizacines</strong>
        </ion-title></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content">      
      <ion-row>
        <ion-col *ngFor="let l of locations" size-lg="6" size-md="6" size-sm="12" size="12">

          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding" size-lg="4" size-md="4" size-sm="4" size="12"></ion-col>
                <ion-col class="ion-padding" size-lg="8" size-md="8" size-sm="8" size="12">
                  <div class="name">{{l.name}}</div>
                  <p>Tipo: <br> <strong>{{l.type}}</strong></p>
                  <p>Dimensión: <br> <strong>{{l.dimension}}</strong></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>

     <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getLocations($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
     </ion-infinite-scroll>
  </div>
</ion-content>
